$main__bc__color: #333D4B;
$secondary__bc__color: #0E8784;
$other__bc__color: #FDD6BA;
$all__bc__color: #FEFCF7;
$grey__bc__color: #83888F;
$footer__bc__color: #2C343E;
$bacground_defauld_card: #F4F1EB;

$bc__defauld__color: #F4F1EB;
$bc__hover__color: #FDD6BA;
$bc__active__color: #0E8784;

$button__defauld__color: #0E8784;
$button__hover__color: #66D2CF;
$button__disablet__color: #E2DEDB;

$font__family__main: "Fraunces", sans-serif;
$font__family__secondary: "Barlow" , sans-serif;

$non__non: #ff0000;
