.header {
    background-image: url(../img/us.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 117px 84px;
    border-radius: 10px;
    margin-top: 48px;
    h3 {
        color: $all__bc__color;
        font-size: 72px;
        font-family: $font__family__main;
    }
    p{
        color: $all__bc__color;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        width: 50%;
        margin-top: 32px;
        opacity: 0.8;
    }
}


.sub__header__bc .header__sub{
    background-image: url(../img/sub.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 117px 84px;
    border-radius: 10px;
    margin-top: 48px;
    h3 {
        color: $all__bc__color;
        font-size: 72px;
        font-family: $font__family__main;
    }
    p{
        color: $all__bc__color;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        width: 50%;
        margin-top: 32px;
        opacity: 0.8;
    }
}

@media only screen and (max-width: 767px) {
    .sub__header__bc .header__sub{
        text-align: center;
        background-position: 50% 0px;
        padding: 100px 40px;
        
        h3 {
            font-size: 40px;
        }
        p{
            width: 100%;
            text-align: center;
        }
    }
    
}